.header {
    /* background-color: #000; */
    min-height: 111px;
    color: #fff;
    padding-top: 27px;
    padding-bottom: 32px;
    background-color: transparent;
    transition: background-color .5s;
    position: fixed;
    width: 100%;
}

.bgheader {
    min-height: 111px;
    color: #fff;
    padding-top: 27px;
    padding-bottom: 32px;
    background-color: rgb(100, 100, 100);
    transition: background-color .5s;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav {
    min-height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header__links_list {
    display: flex;
    gap: 40px;
}

.header__links_list:nth-of-type(1) {
    margin-right: auto;
    order: -1;
}

.header__links_list:nth-of-type(2) {
    margin-left: auto;
}

.header__link {
    font-size: 14px;
    line-height: 150%;
    text-decoration-color: transparent;
    color: inherit;
    transition: text-decoration-color .5s;
    position: relative;
}

.header__link:hover {
    text-decoration-color: inherit;
}

.header__link_search {
    padding-left: 34px;
}

.header__icon {
    padding: 4px;
    width: 24px;
    height: 24px;
}

.search {
    position: absolute;
    left: 0;
    top: 0;
}
